

.responses {
    font-family: 'Courier New', Courier, monospace;
}

.readingNotes {
    font-size: 8px;
    color: rgb(7, 20, 1);
}

.responses h1 {
  color: rgb(18, 113, 221);
}

.responses h2 {
  color: rgb(137, 141, 24);
}

.size1 {
  width: 300px;
  transform: rotate(10deg) skew(5deg);
  opacity: 0.5;
}


p, h1 {
  position: relative;
  z-index: 10;
}

img {
  position: relative;
  z-index: 100;
}

